.trackerCol {
  background: #f4f5f7;
  margin: 2px;
  border-radius: 4px;
}

.btn-primary:focus {
  outline: none;
  box-shadow: none;
  background-color: #007bff;
}

.btn-danger:focus {
  outline: none;
  box-shadow: none;
  background-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
}

.btn-primary:hover {
  background-color: #0069d9;
}

.card {
  margin: 2px 0px 2px 0px;
}

.project-table-wrapper {
  max-height: 500px;
  overflow: auto;
}




/* The search field */
#myInput {
  box-sizing: border-box;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 14px;
  border: none;
  border-bottom: 1px solid #ddd;
  position: relative;
}

/* The search field when it gets focus/clicked on */
#myInput:focus {
  outline: 3px solid #ddd;
}

.async-dropdown {
  display: inline-block;
  position: relative;
  background-color: #f6f6f6;
  min-width: 200px;
  border: 1px solid #ddd;
  z-index: 1;
  outline: none;
}

.async-dropdown-option {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #f6f6f6;
  min-width: 200px;
  cursor: pointer;
}

.async-dropdown div:hover {
  background-color: #f1f1f1;
}

.async-dropdown-options {
  position: absolute;
}
